html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;    
}

body{
    background-color: rgb(175, 213, 248);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.boks {
    width: 600px;
    height: 75px;
    background-color:  rgb(175, 213, 248);
    display: flex;
    justify-content: center;
    align-items: center;/* vertikalt */
    flex-direction: row;
    }

h1{
        color: gray;
        font-size: 4em;
    }
    
p{
    position: absolute;
    bottom: 0;
}


